<img src="/images/foto.JPG" id="foto"/>
<p>
	Datos Personales:Fernando Alexis Sialer Ayala </p>
	<p>Correo: alexis_s309@hotmail.com</p>
	<p>País: Perú </p>
	<p>Ocupación: Estudiante</p>
	<a href="http://www.uss.edu.pe/">Universidad Señor de Sipan</a>